SECRET_KEY=your_secret_key_here
TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=your_tidb_username_here
TIDB_PASSWORD=your_tidb_password_here
TIDB_DATABASE=your_tidb_database_name_here
CA_PATH=Ca.pem
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
RESEND_API_KEY=your_resend_api_key_here
ADMIN_EMAIL=your_admin_email_here
USE_TIDB=false
